# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env/
.venv/

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# VSCode
.vscode/

# Windows
Thumbs.db
desktop.ini

# Mac
.DS_Store

# Logs
*.log

*.pyc
*.toc
*.pyz
*.spec
*.pkg
*.html